language: node_js
node_js:
- '0.10'
branches:
  except:
  - "/^g3_.*$/"
env:
  matrix:
  - JOB=unit BROWSER_PROVIDER=saucelabs
  - JOB=docs-e2e BROWSER_PROVIDER=saucelabs
  - JOB=e2e TEST_TARGET=jqlite BROWSER_PROVIDER=saucelabs
  - JOB=e2e TEST_TARGET=jquery BROWSER_PROVIDER=saucelabs
  global:
  - BROWSER_STACK_USERNAME=VojtaJina
  - BROWSER_STACK_ACCESS_KEY=QCQJ1ZpWXpBkSwEdD8ev
  - LOGS_DIR=/tmp/angular-build/logs
  - BROWSER_PROVIDER_READY_FILE=/tmp/browsersprovider-tunnel-ready
  - secure: D1lBCfplkUQH2+apicVKLoGgUuX6LVR8dCYKvHAj8J/kIvjzfM8N/R+w05pDGsiuC6pB8KQE7Dz92r92ZczilrzfWwPAfS4o04WhMVx8Qs5C+3ryCbxnRyhxYKUOQcZmk3mg+YrQ9nC5UZPDeTm+bcKupV6WPTXiclt7GWJ9ywE=
  - secure: G8m2PDrD8teDKSfvRWht1SuGv4906JJmdUs/1JlwGT5mj31TRAvUgIK4SI7GKykqf9Bua7RUOXuwV6zQMQgeDcUpWvNWHx7abH4s5Ubk8nVR7i/Sivl6hVWYDXlfWtvVltIJy+sofFPUAcAb1zJCjulUUkodZWy+f4iRbkmtycE=
install:
- npm config set spin false
- npm config set loglevel http
- time ./scripts/travis/npm-bundle-deps.sh
- time npm install
before_script:
- mkdir -p $LOGS_DIR
- "./scripts/travis/start_browser_provider.sh"
- npm install -g grunt-cli
- grunt package
script:
- "./scripts/travis/print_logs.sh"